<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="layout :: header"></head>

<body>

<nav th:replace="layout :: navigation"></nav>

<div class="container pace-hidden">
	<div class="page-header">
		<h3 th:text="#{|${history.current.entity}.${history.current.action}.heading|}"></h3>
	</div>

	<form accept-charset="UTF-8" method="post" enctype="multipart/form-data" th:object="${userForm}">

		<!-- fake fields are a workaround for autofill getting the wrong fields -->
		<input style="display:none" type="text" name="fakeusernameremembered" />
		<input style="display:none" type="password" name="fakepasswordremembered" />

		<div class="col-lg-12" th:if="${#fields.hasAnyErrors()}">
			<th:block
					th:replace="fragments/messages :: errors (${#fields.allErrors()})">
			</th:block>
		</div>

		<div class="form-group col-lg-12">
			<label th:for="${#ids.next('username')}" th:text="#{user.create.form.username_label}">
			</label>
			<input type="text" th:field="*{username}" maxlength="50" class="form-control"
					required="required">
		</div>

		<div class="form-group col-lg-12">
			<label th:for="${#ids.next('email')}" th:text="#{user.create.form.email_label}">
			</label>
			<input type="email" th:field="*{email}" class="form-control"
					required="required">
		</div>

		<div class="form-group col-lg-2">
			<label th:for="${#ids.next('title')}" th:text="#{user.update.form.title_label}">
			</label>
			<input type="text" th:field="*{title}" maxlength="10" class="form-control">
		</div>

		<div class="form-group col-lg-4">
			<label th:for="${#ids.next('forename')}" th:text="#{user.create.form.forename_label}">
			</label>
			<input type="text" th:field="*{forename}" maxlength="50" class="form-control"
					required="required">
		</div>

		<div class="form-group col-lg-6">
			<label th:for="${#ids.next('surname')}" th:text="#{user.create.form.surname_label}">
			</label>
			<input type="text" th:field="*{surname}" maxlength="50" class="form-control"
					required="required">
		</div>

		<div class="form-group col-lg-6">
			<label th:for="${#ids.next('password')}" th:text="#{user.create.form.password_label}">
			</label>
			<input type="password" th:field="*{password}" class="form-control"
					value="" th:required="${history.current.action.contains(@A.CREATE)}">
		</div>

		<div class="form-group col-lg-6">
			<label th:for="${#ids.next('passwordRepeat')}"
					th:text="#{user.create.form.password_repeat_label}">
			</label>
			<input type="password" th:field="*{passwordRepeat}" class="form-control"
					th:required="${history.current.action.contains(@A.CREATE)}">
		</div>

		<div class="form-group col-lg-12" th:if="${!history.current.action.contains(@A.CREATE)}"
				th:text="#{admin.user_update.password_note}"></div>

		<div class="form-group col-lg-12">
			<button type="submit" name="submit" value="true"
					class="action submit btn btn-primary pull-right" th:text="#{global.button.submit}">
			</button>
		</div>
	</form>
</div>

<footer th:replace="layout :: footer"></footer>
</body>
</html>
