<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: header"></head>

<body>

<nav th:replace="layout :: navigation"></nav>

<!-- Main jumbotron for more information about the NanoDefine project -->
<div class="jumbotron pace-hidden">
	<div class="container">
		<h1 th:text="#{home.welcome_heading}"></h1>

		<p th:utext="#{home.project_information}">
		</p>
		<p th:text="#{global.funding}"></p>
		<p>
			<a class="btn btn-primary btn-lg" href="http://www.nanodefine.eu/" role="button"
					th:utext="#{home.project_link}"></a>
		</p>
	</div>
</div>

<div class="container pace-hidden">
	<!--[if IE]>
	<p></p>
	<div class="alert alert-danger" th:text="#{home.browser_warning}">
	</div>
	<![endif]-->
	<p></p>
	<ul class="nav nav-tabs">
		<li>
			<a data-toggle="tab" href="#version" th:text="#{home.tab.project_information}"></a>
		</li>
		<li>
			<a data-toggle="tab" href="#software" th:text="#{home.tab.related_software}"></a>
		</li>
		<li>
			<a data-toggle="tab" href="#publications" th:text="#{home.tab.related_publications}"></a>
		</li>
		<li>
			<a data-toggle="tab" href="#citation" th:text="#{home.tab.citation}"></a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane" id="version">
			<h2 th:text="#{home.version.heading(${version})}"></h2>

			<p th:text="#{home.version.information}">
			<p>
			<ul>
				<li>
					<a href="https://github.com/NanoDefiner/NanoDefiner">
						[[#{home.version.list.version}]] <span th:text="${version}"></span>
					</a>
				</li>
				<li>[[#{home.version.list.build_date}]] <span th:text="${buildDate}"></span></li>
			</ul>
			<p th:utext="#{home.version.cookie_warning}">
			<p>
			<p th:utext="#{home.version.browser_information}">
			</p>

			<p th:utext="#{home.version.download_information}">
			</p>


			<p>

			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#current"
									th:text="#{home.version.changelog_heading(${version}, ${buildDate})}">
							</a>
						</h4>
					</div>
					<div class="panel-collapse collapse" id="current">
						<div class="panel-body">
							<ul>
								<li>Terminology update</li>
								<li>Replace density plots with histograms</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="software">
			<h2 th:text="#{home.related_software.heading}"></h2>

			<ul>
				<li>
					<p>The <a href="https://imagej.net/ParticleSizer">ParticleSizer</a>
						is an ImageJ plug-in for Transmission Electron Microscopy (TEM) image analysis.
						It automatically measures distributions of characteristic size and shape properties of
						potential nanomaterials. Analysis results may be exported in a text-based file format
						and imported into the NanoDefiner for an automatic nano/non-nano/borderline decision on
						a specific material.</p>
					<p>
						<a class="btn btn-primary btn-md" href="https://imagej.net/ParticleSizer"
								role="button">Learn more on imagej.net &raquo;</a>
					</p>
				</li>
				</li>
				<li>
					<p>The <a href="http://www.wur.nl/nl/show/Single-Particle-Calculation-tool.htm">Single
						Particle Calculation tool version 2 (SPCTv2)</a> allows to generate spreadsheet-based
						analysis data of single particle Inductively Coupled Plasma Mass Spectrometry
						(spICP-MS) measurements. Data generated by the SPCTv2 can be imported into the
						NanoDefiner for an automatic nano/non-nano/borderline decision on a specific material.
					</p>
					<p>
						<a class="btn btn-primary btn-md"
								href="http://www.wur.nl/nl/show/Single-Particle-Calculation-tool.htm"
								role="button">Learn more on wur.nl &raquo;</a>
					</p>
				</li>
				<li>
					<p>The <a href="https://github.com/AutoEM/AutoEM-toolbox">AutoEM-toolbox</a> is a software
						for automatic acquisition and analysis of nanoparticles in the transmission electron
						microscope.
					</p>
					<p>
						<a class="btn btn-primary btn-md"
								href="https://github.com/AutoEM/AutoEM-toolbox"
								role="button">Learn more on github.com &raquo;</a>
					</p>
				</li>
			</ul>
		</div>
		<div class="tab-pane" id="publications">
			<h2 th:text="#{home.related_publications.heading}"></h2>

			<ul>
				<li>European Union (2011). <em>Commission Recommendation of 18 October 2011 on the
					definition of nanomaterial
					(2011/696/EU).</em> Official Journal of the European Union, L 275, pp. 38–40.
				</li>
				<li>Babick, F., Mielke, J., Wohlleben, W., Weigel, S., Hodoroaba, V. D.
					(2016). <em>How reliably can a material be classified as a nanomaterial?
						Available particle-sizing techniques at work.</em> Journal of Nanoparticle
					Research, 18(6), 158.
				</li>
				<li>Wohlleben, W., Mielke, J., Bianchin, A., Ghanem, A., Freiberger, H.,
					Rauscher, H., Gemeinert, M., Hodoroaba, V. D. (2017). <em>Reliable nano-material
						classification of powders
						using the volume-specific surface
						area method.</em> Journal of Nanoparticle Research, 19(2), 61.
				</li>
				<li>
					Uusimaeki, T., Wagner, T., Lipinski, HG. et al. <em>AutoEM: a software for automated
					acquisition and analysis of nanoparticles</em>
					Journal of Nanoparticle Research (2019) 21: 122.
				</li>
				<li>
					Gaillard, C., Mech, A., Wohlleben, W., Babick, F., Hodoroaba, V.-D., Ghanem, A., Stefan
					Weigel, Rauscher, H. (2019).
					<em>A technique-driven materials categorisation scheme to support
						regulatory identification of nanomaterials.</em>
					Nanoscale Advances, 1(2), 781–791.
				</li>
			</ul>
		</div>
		<div class="tab-pane" id="citation">
			<h2 th:text="#{home.citation.heading}"></h2>

			<p>In <a href="https://ieeexplore.ieee.org/document/8350509/">IEEE Xplore</a>: Brüngel, R.,
				Rückert, J., Wohlleben, W., Babick, F., Ghanem, A., Gaillard, C., Mech, A.,
				Rauscher, H., Weigel, S. &amp; Friedrich, C. M. (2018). The NanoDefiner e-tool &#x2014; A
				decision support framework for recommendation of suitable measurement techniques for the
				assessment of potential nanomaterials. In <i>2017 IEEE 12th Nanotechnology Materials and
					Devices Conference, NMDC 2017</i> (pp. 71-72).</p>
			<blockquote style="font-family: monospace">
				BibTeX:
				<h6>@INPROCEEDINGS{8350509,<br />
					&nbsp;&nbsp;author={R. Br\"ungel and J. R\"uckert and W. Wohlleben and F. Babick and A.
					Ghanem and C. Gaillard and A. Mech and H. Rauscher and S. Weigel and C. M.
					Friedrich},<br />
					&nbsp;&nbsp;booktitle={2017 IEEE 12th Nanotechnology Materials and Devices Conference
					(NMDC)},<br />
					&nbsp;&nbsp;title={The NanoDefiner e-tool -- A decision support framework for
					recommendation of suitable measurement techniques for the assessment of potential
					nanomaterials},<br />
					&nbsp;&nbsp;year={2017},<br />
					&nbsp;&nbsp;month={Oct},<br />
					&nbsp;&nbsp;pages={71-72},<br />
					&nbsp;&nbsp;doi={10.1109/NMDC.2017.8350509}<br />
					}</h6>
			</blockquote>
		</div>
	</div>

</div>

<footer th:replace="layout :: footer"></footer>
</body>
