<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
		xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header" th:with="min=${!debugMode ? '.min' : ''}">
	<!--/*
		These 3 meta chaps here must come first in the head. Why? Because
		the IE needs - again - very special treatment, as it is a very
		special child. Any other head content must come after.
	*/-->
	<meta charset="UTF-8" />
	<meta content="IE=edge" http-equiv="X-UA-Compatible" />
	<meta content="width=device-width, initial-scale=1" name="viewport" />

	<!--/* Place other head content below this mark. */-->

	<!-- /* Keep this first */ -->
	<script th:src="@{/js/incl/first.js}"></script>
	<script data-pace-options='{ "ajax": false, "restartOnPushState": false,
		"restartOnRequestAfter": false, "ghostTime": 0, "minTime": 0}'
			th:src="@{/libs/pace-git/pace.min.js}"></script>
	<link rel="stylesheet" th:href="@{/libs/pace-git/themes/blue/pace-theme-flash.css}" />

	<meta content="NanoDefiner e-tool" name="description" />
	<meta content="NanoDefine" name="author" />

	<!--/*
		TODO Load resources on demand.

		We really, really, really need to load resources on demand for performance reasons.
		Right now, every js and css resource is loaded on every page. This is no option.
	*/-->

	<!-- jQuery Core -->
	<script defer="defer" th:src="@{|/libs/jquery-dist/dist/jquery${min}.js|}"></script>
	<script defer="defer" th:src="@{|/libs/jquery-ui-dist-git/jquery-ui${min}.js|}"></script>
	<link rel="stylesheet" th:href="@{|/libs/jquery-ui-dist-git/jquery-ui${min}.css|}" />

	<script defer="defer" th:if="${@environment.getProperty('server.forceBaseName')}"
			th:src="@{/js/incl/force-base-name.js}"></script>

	<!-- post pace code -->
	<script defer="defer" th:src="@{/js/incl/pace.js}"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" th:href="@{|/libs/bootstrap-git/dist/css/bootstrap${min}.css|}" />
	<script defer="defer" th:src="@{|/libs/bootstrap-git/dist/js/bootstrap${min}.js|}"></script>

	<!-- Bootstrap theme
	<link rel="stylesheet" th:href="@{|/libs/bootstrap-git/dist/css/bootstrap-theme.min.css|}">-->

	<!-- Bootstrap select -->
	<link rel="stylesheet"
			th:href="@{|/libs/bootstrap-select-git/dist/css/bootstrap-select${min}.css|}" />
	<script defer="defer"
			th:src="@{|/libs/bootstrap-select-git/dist/js/bootstrap-select${min}.js|}"></script>

	<!-- Bootstrap table -->
	<link rel="stylesheet"
			th:href="@{|/libs/bootstrap-table-git/dist/bootstrap-table${min}.css|}" />
	<script defer="defer"
			th:src="@{|/libs/bootstrap-table-git/dist/bootstrap-table${min}.js|}"></script>
	<script defer="defer"
			th:src="@{|/libs/bootstrap-table-git/dist/bootstrap-table-locale-all${min}.js|}"></script>

	<!-- Bootstrap table cookie and export extensions -->
	<script defer="defer"
			th:src="@{|/libs/bootstrap-table-git/dist/extensions/cookie/bootstrap-table-cookie${min}.js|}"></script>
	<script defer="defer"
			th:src="@{|/libs/bootstrap-table-git/dist/extensions/export/bootstrap-table-export${min}.js|}"></script>
	<!-- FileSaver -->
	<script defer="defer" th:src="@{|/libs/FileSaver-git/FileSaver${min}.js|}"></script>
	<script defer="defer" th:src="@{|/libs/jquery-tableExport-git/tableExport${min}.js|}"></script>

	<!-- filestyle -->
	<script defer="defer"
			th:src="@{|/libs/bootstrap-filestyle-git/src/bootstrap-filestyle${min}.js|}"></script>

	<!-- Holder -->
	<script defer="defer" th:src="@{|/libs/holder-git/holder${min}.js|}"></script>

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script defer="defer"
			th:src="@{/js/incl/ie10-viewport-bug-workaround.js}"></script>

	<!-- HTML5 shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script defer="defer" th:src="@{|/libs/html5shiv-git/dist/html5shiv${min}.js|}"></script>
	<script defer="defer" th:src="@{|/libs/respond-git/dest/respond${min}.js|}"></script>
	<![endif]-->

	<link rel="stylesheet"
			th:href="@{|/libs/jasny-bootstrap-git/dist/css/jasny-bootstrap${min}.css|}" />
	<script defer="defer"
			th:src="@{|/libs/jasny-bootstrap-git/dist/js/jasny-bootstrap${min}.js|}"></script>

	<!-- /* TODO: don't include by default -->
	<link rel="stylesheet"
			th:href="@{|/libs/jquery-ui-slider-pips-git/dist/jquery-ui-slider-pips.css|}" />

	<!-- Setup table export -->
	<script defer="defer" th:src="@{/js/incl/table-export.js}"></script>

	<script defer="defer" th:src="@{/js/incl/util.js}"></script>
	<script defer="defer" th:src="@{/js/incl/tables.js}"></script>

	<!--/* Cookies to remember decision about showing disclaimer / warning
	 modals */-->
	<script defer="defer" th:src="@{/libs/js-cookie-git/src/js.cookie.js}"></script>
	<script defer="defer" th:src="@{/js/incl/modals.js}"></script>

	<!--/* Automatic back link */-->
	<script defer="defer" th:src="@{/js/incl/back.js}"></script>

	<!--/* Move action box */-->
	<script defer="defer" th:src="@{/js/incl/actions.js}"></script>

	<!--/* Alerts and messages */-->
	<script defer="defer" th:src="@{/js/incl/messages.js}"></script>

	<!--/* Tabs */-->
	<script defer="defer" th:src="@{'/js/incl/tabs.js'}"></script>

	<!--/* Feedback */-->
	<script defer="defer" th:src="@{'/js/incl/feedback.js'}"></script>

	<!--/* String trimming */-->
	<script defer="defer" th:src="@{'/js/incl/trim.js'}"></script>

	<!--/* Popovers */-->
	<script defer="defer" th:src="@{'/js/incl/popovers.js'}"></script>

	<!--[if IE]>
	<script defer="defer" th:src="@{'/js/incl/ie.js'}"></script>
	<![endif]-->

	<!-- Some tiny style modifications -->
	<link rel="stylesheet" th:href="@{/css/style.css}" />

	<!-- Favicon -->
	<link rel="icon" th:href="@{/img/favicon.ico}" />

	<!-- Title -->
	<title th:text="#{layout.title}"></title>
</head>
<body>

<div class="navbar-spacer hidden-sm-up"></div>
<!--/* Content */-->
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navigation">
	<div class="container">
		<div class="navbar-header">
			<button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed"
					data-target="#navbar" data-toggle="collapse" type="button">
				<span class="sr-only" th:text="#{layout.sr.toggle_navigation}"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/${@E.INDEX}" th:href="@{|/${@E.INDEX}|}">
				<div alt="NanoDefine"
						class="brand"
						th:style="'background-image: url(' + @{/img/nd_wave_inv.svg} + ')'"></div>
			</a>
		</div>

		<th:block shiro:guest>
			<div class="navbar-collapse collapse" id="navbar">
				<form accept-charset="UTF-8" class="navbar-form navbar-right"
						enctype="multipart/form-data"
						method="post"
						th:action="@{|/${@E.USER}/${@A.LOGIN}|}">
					<div class="form-group">
						<input autocomplete="username" class="form-control" name="username"
								placeholder="User name" type="text">
						<input autocomplete="current-password" class="form-control" name="passwordHash"
								placeholder="Password" type="password">
						<input name="postLoginRedirect" th:value="${postLoginRedirect}" type="hidden" />
					</div>
					<button class="btn action submit btn-success" name="submit"
							th:text="#{layout.button.login}"
							type="submit" value="true">
					</button>
					<a class="btn btn-primary"
							role="button" th:href="@{|/${@E.USER}/${@A.CREATE}|}"
							th:text="#{layout.button.register}"></a>
					<input id="remembered" name="remembered" type="checkbox" />
					<label for="remembered" th:text="#{user.login.form.remember_me_label}"></label>
				</form>
			</div> <!-- navbar-collapse -->
		</th:block>

		<th:block shiro:user th:if="${userSession != null}">
			<div class="navbar-collapse collapse" id="navbar">
				<ul class="nav navbar-nav navbar-left">
					<li th:classappend="${(history.current.entity == @E.DASHBOARD)} ? 'active'">
						<a th:href="@{|/${@E.DASHBOARD}/${@A.READ}|}"
								th:text="#{dashboard}">
						</a>
					</li>
					<li th:classappend="${(history.current.entity == @E.DOSSIER)} ? 'active'">
						<a th:href="@{|/${@E.DOSSIER}/${@A.LIST}|}"
								th:text="#{dossier.plural}">
						</a>
					</li>
					<li th:classappend="${(history.current.entity == @E.MATERIAL)} ? 'active'">
						<a th:href="@{|/${@E.MATERIAL}/${@A.LIST}|}"
								th:text="#{material.plural}">
						</a>
					</li>
					<li th:classappend="${(history.current.entity == @E.METHOD)} ? 'active'">
						<a th:href="@{|/${@E.METHOD}/${@A.LIST}|}"
								th:text="#{method.plural}">
						</a>
					</li>
					<li th:classappend="${(history.current.entity == @E.REPORT)} ? 'active'">
						<a href="#" th:href="@{|/${@E.REPORT}/${@A.LIST}|}"
								th:text="#{report.plural}">
						</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right"> <!-- <ul class="nav navbar-nav navbar-right"> -->
					<li class="dropdown"
							th:classappend="${(history.current.entity == @E.USER)} ? 'active'">
						<a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#"
								role="button">
							<span th:text="${@userService.getUsernameOrTitleFirstLastName(userSession)}"></span>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<th:block shiro:hasRole="admin">
								<li>
									<a th:href="@{|/${@E.ADMIN}/${@E.USER}|}"
											th:text="#{layout.menu.user_management}">
									</a>
								</li>
								<li>
									<a th:href="@{|/${@E.ISSUE}/${@A.LIST}|}" th:text="#{layout.menu.issues}">
									</a>
								</li>
								<li>
									<a th:href="@{|/${@E.ADMIN}/locale|}" th:text="#{layout.menu.locale}">
									</a>
								</li>
								<li class="divider"></li>
							</th:block>
							<li>
								<a th:href="@{|/${@E.USER}/${@A.UPDATE}|}"
										th:text="#{layout.menu.profile_update}">
								</a>
							</li>
							<li class="divider"></li>
							<li>
                                                        <!--<a th:href="${manualLink}"-->
                                                          <span class="submenu-heading" th:text="#{layout.menu.help}"></span>
                                                        <!--</a>-->
							</li>
							<li class="submenu-entry">
								<a th:href="@{/static/downloads/p1_framework_and_tools.pdf}">Part 1, Framework and Tools</a>
							</li>
							<li class="submenu-entry">
								<a th:href="@{/static/downloads/p2_evaluation_of_methods.pdf}">Part 2, Evaluation of Methods</a>
							</li>
							<li class="submenu-entry">
								<a th:href="@{/static/downloads/p3_standard_operating_procedures.pdf}">Part 3, Standard Operating Procedures (SOPs)</a>
							</li>
							<li>
								<a th:href="@{/static/downloads/nanodefiner_guide.pdf}"
										th:text="#{layout.menu.help_guide}">
								</a>
							</li>
							<li>
								<a th:href="@{/static/downloads/decision_flow_scheme.pdf}"
										th:text="#{layout.menu.help_flow_scheme}">
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a th:href="@{|/${@E.USER}/${@A.LOGOUT}|}"
										th:text="#{layout.button.logout}">
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div> <!-- End: .navbar-collapse -->

		</th:block>
		<!--/* End: Shiro user */-->

	</div> <!-- End: .container -->
	<th:block th:replace="fragments/messages :: messages"></th:block>
</nav>

<footer class="footer pace-hidden" th:fragment="footer">

	<!--/* Modals are going to be moved here */-->
	<div id="modalBox"></div>

	<!--/* Action box, will be moved after .page-header element or removed if none exists */-->
	<div th:replace="fragments/actions :: actionsGlobal"></div>

	<div class="container">
		<hr style="margin: 5px 0 5px 0;">
		<small th:utext="#{global.copyright} + ' &mdash; ' + #{disclaimer.liability}"></small>
		<br />
		<th:block shiro:user th:if="${feedbackButtonEnabled}">
			<button class="btn-danger visible-xs-block" data-target="#feedbackModal"
					data-toggle="modal" th:text="#{layout.feedback_button}">
			</button>
			<button class="btn-danger hidden-xs feedback" data-target="#feedbackModal"
					data-toggle="modal" th:text="#{layout.feedback_button}">
			</button>
			<div th:replace="fragments/modals :: feedback"></div>
		</th:block>
	</div> <!-- container -->


	<!--/* Keep this last */-->
	<script defer="defer" th:src="@{'/js/incl/last.js'}"></script>

	<!--/* Hidden information, for JS */-->
	<div class="variables" th:if="${history != null}">
		<span id="variables-entity" th:text="${history.current.entity}"></span>
		<span id="variables-action" th:text="${history.current.action}"></span>
		<span id="variables-anchor" th:if="${anchor != null}" th:text="${anchor}"></span>
		<span id="variables-base-name-without-context"
				th:text="${@environment.getProperty('server.baseName').substring(0,
					@environment.getProperty('server.baseName').length() -
					@environment.getProperty('server.contextPath').length())}"></span>

		<span id="locale-global.feedback.error.text_placeholder"
				th:text="#{global.feedback.error.text_placeholder}"></span>
		<span id="locale-global.action.back.previous_page"
				th:text="#{global.action.back.previous_page}"></span>
		<span id="locale-global.action.back.home_page"
				th:text="#{global.action.back.home_page}"></span>
		<span id="locale-global.action.back.label"
				th:text="#{global.action.back.label}"></span>
		<span id="locale-global.feedback.alert.thanks"
				th:text="#{global.feedback.alert.thanks}"></span>
		<span id="locale-global.table.detail.none"
				th:text="#{global.table.detail.none}"></span>
		<span id="locale-global.entity.new"
				th:text="#{global.entity.new}"></span>

		<!--[if IE]>
		<span id="browser_warning" th:text="#{home.browser_warning}"></span>
		<![endif]-->
	</div>

	<div id="maintenance-message"
			th:if="${@environment.getProperty('nanodefiner.maintenance_message').length() > 0}">
		<span class="glyphicon glyphicon-warning-sign"></span>
		<span th:text="${@environment.getProperty('nanodefiner.maintenance_message')}"></span>
	</div>

</footer> <!-- footer -->

</body>
</html>

