<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
		xmlns:th="http://www.thymeleaf.org">
<body>

<!--/* Content */-->
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navigation">
	<div class="container">
		<div class="navbar-header">
			<th:block> <!-- shiro:guest -->
				<a href="/${@E.INDEX}" th:href="@{|/${@E.INDEX}|}">
					<div alt="NanoDefine"
							class="brand"
							th:style="'background-image: url(' + @{/img/nd_wave_inv.svg} + ')'"></div>
				</a>
			</th:block>
		</div>

		<div class="navbar-collapse collapse">

		</div> <!-- navbar-collapse -->

	</div> <!-- End: .container -->
	<th:block th:replace="fragments/messages :: messages"></th:block>
</nav>

</body>
</html>

