<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns="http://www.w3.org/1999/xhtml"
>

<head th:replace="layout :: header"></head>

<body>

<nav th:replace="layout :: navigation"></nav>

<div class="jumbotron pace-hidden">
	<div class="container">
		<h3 th:text="#{method.read.jumbo.headline}"></h3>

		<div th:replace="fragments/breadcrumbs :: default"></div>

		<div class="topic">
			<h5 th:text="#{method.read.jumbo.topic}"></h5>
		</div>
		<p>
	</div> <!-- End: .container -->
</div> <!-- End: .jumbotron -->

<div class="container pace-hidden" th:with="idMethod='method', idAnalysis='analysis',
	idDetails='details', idCustomAttributes='custom_attributes'">
	<div class="page-header">
		<h3 th:text="#{method.read.heading}"></h3>
	</div>

	<ul class="nav nav-tabs">
		<li>
			<a th:href="|#${idMethod}|" data-toggle="tab" th:text="#{|method.read.tab.${idMethod}|}"></a>
		</li>
		<li>
			<a th:href="|#${idAnalysis}|" data-toggle="tab"
					th:text="#{|method.read.tab.${idAnalysis}|}"></a>
		</li>
		<th:block th:if="${(method.dataFormat == @ADF.PARTICLE_SIZER ||  method.dataFormat == @ADF.RIKILT_SPCTv2)
			&& method.result != null}">
			<li>
				<a th:href="|#${idDetails}|" data-toggle="tab"
						th:text="#{|method.read.tab.${idDetails}|}"></a>
			</li>
		</th:block>
		<li>
			<a th:href="|#${idCustomAttributes}|" data-toggle="tab"
					th:text="#{|method.read.tab.${idCustomAttributes}|}"></a>
		</li>
	</ul>
	<div id="methodTabContent" class="tab-content">
		<div class="tab-pane" th:id="${idMethod}" role="tabpanel">
			<div class="table-responsive">
				<table data-classes="table table-hover"
						data-toggle="table"
						data-striped="true"
						data-locale="en-US"
						data-search="true"
						data-search-align="left"
						data-detail-view="false"
						data-show-export="true"
						data-export-data-type="all">
					<thead>
					<tr>
						<th data-field="attribute" data-width="25%"
								th:text="#{global.table.column.attribute}"></th>
						<th data-field="value" data-width="75%" th:text="#{global.table.column.value}"></th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td th:text="#{global.table.column.name}"></td>
						<td th:text="${method.name}"></td>
					</tr>
					<tr>
						<td th:text="#{technique}"></td>
						<td th:text="${method.technique.name}"></td>
					</tr>
					<tr>
						<td th:text="#{global.table.column.comment}"></td>
						<td th:text="${method.comment}"></td>
					</tr>
					<tr>
						<td th:text="#{method.read.table.column.preparation}"></td>
						<td th:text="${@performanceDictionary.translateValue('preparation', method.preparation != null ? method.preparation : '{}')}"></td>
					</tr>
					<tr>
						<td th:text="#{method.read.table.column.preparation_comment}"></td>
						<td th:text="${method.preparationComment}"></td>
					</tr>
					<tr>
						<td th:text="#{global.table.column.creation_date.long}"></td>
						<td th:text="${#dates.format(method.creationDate, #messages.msg('global.date_format'))}"></td>
					</tr>
					<tr>
						<td th:text="#{global.table.column.change_date.long}"></td>
						<td th:text="${#dates.format(method.changeDate, #messages.msg('global.date_format'))}"></td>
					</tr>
					<tr>
						<td th:text="#{global.table.column.archived}"></td>
						<td th:text="#{|global.${method.archived}|}"></td>
					</tr>
					</tbody>
				</table>
			</div>
			<p></p>
		</div>

		<div class="tab-pane" th:id="${idAnalysis}" role="tabpanel">
			<!--/* No analysis data submitted. */-->
			<th:block th:if="${methodState == @methodStates.CREATED}">
				<!--/* Exceptional form layout case for BET. */-->
				<th:block th:replace="${method.technique.signifier == 'BET'} ?
					~{method/fragments :: betUpload} : ~{}">
				</th:block>

				<th:block th:replace="${method.technique.signifier == 'SP-ICP-MS'
					&& method.dataFile == null} ? ~{method/fragments :: spicpmsUpload} : ~{}">
				</th:block>

				<th:block th:replace="${method.technique.signifier != 'SP-ICP-MS'
					&& method.technique.signifier != 'BET'} ?
					~{method/fragments :: particleSizerUpload} : ~{}">
				</th:block>

				<th:block th:replace="method/fragments :: manualD50Upload">
				</th:block>


			</th:block>

			<th:block
					th:replace="${methodState == @methodStates.SPCTv2_SHEET_SELECTION} ?
					~{method/fragments :: spicpmsSheet} : ~{}">
			</th:block>

			<!--/* Analysis data has been submitted. */-->
			<th:block th:if="${methodState >= @methodStates.INTERMEDIATE_RESULTS}"
					th:with="borderline=${@methodService.isBorderline(method)},
					nano=${@methodService.isNano(method)},
					nanoString=${borderline ? 'null' : nano},
					sizePlausibilityCheck=${methodState == @methodStates.SIZE_PLAUSIBILITY_CHECK}">

				<th:block th:replace="${method.dataFormat == @ADF.VSSA} ?
					~{method/fragments :: betResult} : ~{}">
				</th:block>

				<!--/* Regular result layout case for file upload. */-->
				<th:block th:replace="${method.dataFormat == @ADF.PARTICLE_SIZER
						|| method.dataFormat == @ADF.RIKILT_SPCTv2} ?
						~{method/fragments :: fileUploadResult} : ~{}">
				</th:block>

				<!--/* Result layout case for manual D50 entry. */-->
				<th:block th:replace="${method.dataFormat == @ADF.MANUAL_D50} ?
					~{method/fragments :: manualD50Result} : ~{}">
				</th:block>
			</th:block>
		</div>

		<th:block th:replace="${(method.dataFormat == @ADF.PARTICLE_SIZER
			|| method.dataFormat == @ADF.RIKILT_SPCTv2)
			&& methodState >= @methodStates.INTERMEDIATE_RESULTS} ?
			~{method/fragments :: fileUploadDetails} : ~{}">
		</th:block>

		<div class="tab-pane" th:id="${idCustomAttributes}" role="tabpanel">
			<div th:replace="custom_attribute/tables :: default (${method},
				${method.customAttributes}, ${!method.archived && !method.dossier.archived})"></div>
		</div>

	</div>


</div> <!-- container -->

<script defer="defer" th:src="@{/js/incl/uncertainty.js}"></script>

<footer th:replace="layout :: footer"></footer>
</body>
</html>
