<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: header"></head>

<body th:with="action=${dossier.id == 0 ? history.current.action + '_template'
		: history.current.action}">

<nav th:replace="layout :: navigation"></nav>

<div class="jumbotron pace-hidden">
	<div class="container">
		<h3 th:text="#{|material.${action}.jumbo.headline|}">
		</h3>

		<div th:replace="fragments/breadcrumbs :: default"></div>

		<div class="topic">
			<h5 th:text="#{material.create.jumbo.topic.step1}"></h5>
		</div>
		<div class="topic">
			<h5 th:text="#{material.create.jumbo.topic.step2}"></h5>
		</div>
		<div class="topic">
			<h5 th:text="#{material.create.jumbo.topic.step3}"></h5>
		</div>
		<div class="topic">
			<h5 th:text="#{material.create.jumbo.topic.step4}"></h5>
		</div>
		<p>
		<div class="progress">
			<div aria-valuemax="100" aria-valuemin="0" class="progress-bar active progress-bar-form"
					role="progressbar"></div>
		</div>
	</div> <!-- container -->
</div> <!-- jumbotron -->

<div class="container pace-hidden">
	<form accept-charset="UTF-8" class="form multistep" enctype="multipart/form-data"
			id="materialCreateForm"
			method="post"
			th:data-entity="${@E.MATERIAL}">
		<input class="hidden" onclick="return false;" type="submit" />

		<div class="variables">
			<span id="liveFeedbackUri"
					th:text="@{|/${@E.MATERIAL}/feedback/${@E.DOSSIER}.id=${dossier.id}${material.id != 0 ? ('?' + @E.MATERIAL + '.id=' + material.id) : ''}|}">
			</span>
			<span id="loadTemplateUri"
					th:text="@{|/${@E.MATERIAL}/template/${@E.MATERIAL}.id=|}">
			</span>
			<span id="loadMaterialId" th:if="${material.id != 0 && action == 'create_template'}"
					th:text="${material.id}">
			</span>
			<span id="defaultMaterialName" th:text="${defaultMaterialName}"></span>
			<span id="locale-material.create.form.name.based_on"
					th:text="#{material.create.form.name.based_on}"></span>
		</div>

		<div class="page-header" data-classes="no-actionbox">
			<div class="btn-toolbar pull-right">
				<button class="action submit btn btn-primary pull-right" name="submitForm"
						th:if="${action == 'create'}"
						th:value="${@E.METHOD}"
						type="submit">
					<span th:text="#{|material.${action}.form.submit_${@E.METHOD}|}"></span>
				</button>
				<button class="action submit btn btn-primary pull-right" name="submitForm"
						th:text="#{|material.${action}.form.submit|}"
						type="submit"
						value="true">
				</button>
				<button class="action next btn btn-primary pull-right" th:text="#{global.form.button.next}"
						type="button">
				</button>
				<button class="action back btn btn-primary pull-right" th:text="#{global.form.button.back}"
						type="button">
				</button>
			</div>
			<h3 class="hstep" th:text="#{material.create.form.headline.step1}">
			</h3>
			<h3 class="hstep" th:text="#{material.create.form.headline.step2}">
			</h3>
			<h3 class="hstep" th:text="#{material.create.form.headline.step3}">
			</h3>
			<h3 class="hstep" th:text="#{material.create.form.headline.step4}">
			</h3>
		</div>

		<div class="feedback">
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<a class="popovers" data-container="body" data-placement="top"
								data-toggle="popover" data-trigger="click"
								th:data-content="|<small id='feedbackPopoverContent'>
						<span class='glyphicon glyphicon-ok-sign'></span>
						#{material.create.feedback.popover.recommended}<br />
						<span class='glyphicon glyphicon-ok-circle'></span>
						#{material.create.feedback.popover.recommended_unassessed}<br />
						<span class='glyphicon glyphicon-question-sign'></span>
						#{material.create.feedback.popover.incompleteness}<br />
						<span class='glyphicon glyphicon-remove-sign'></span>
						#{material.create.feedback.popover.unsuitable}<br />
						<hr />
						<span class='unavailable'>#{material.create.feedback.popover.unavailable}</span><br />
						<hr />
						<span>T1</span> = #{material.create.feedback.popover.tier1},
						<span>T2</span> = #{material.create.feedback.popover.tier2},
						<span>*</span> = #{material.create.feedback.popover.not_assessed}
						</small>|">
							<label th:for="|${@E.MATERIAL}.material_configuration|"
									th:text="#{material.create.form.label.live_feedback}">
							</label>
						</a>
						<div id="feedback">
							<th:block th:each="t : ${techniques}">
								<span class="alert alert-danger"
										data-toggle="modal" th:classappend="|${unavailableTechniques.contains(t) ? 'unavailable' : ''}
											${@techniqueService.isUnassessed(t) ? 'unassessed' : ''}|"
										th:data-target="|#${t.signifier}defaultModal|"
										th:id="${t.signifier}">
									<span class="glyphicon glyphicon-remove"
											th:id="|${t.signifier}-glyphicon|"></span>
									<span th:text="${t.name}"></span>
								</span>
							</th:block>
							<span class="glyphicon glyphicon-cog gly-spin pull-right hidden"
									id="feedbackInProgress">
							</span>
						</div>
						<div class="form-group">
							<a class="popovers" data-container="body" data-placement="top"
									data-toggle="popover" data-trigger="click" th:data-content="|
							<small>
								#{material.create.incompleteness.popover.explanation}
								<hr>
								<i>C<sup>m</sup></i> &lt; 50% = #{material.create.incompleteness.popover.low}<br />
								<i>C<sup>m</sup></i> &ge; 50% = #{material.create.incompleteness.popover.moderate}<br />
								<i>C<sup>m</sup></i> &ge; 80% = #{material.create.incompleteness.popover.high}<br />
								<hr>
								<div class='progress' style='width:100%'>
									<div class='progress-bar progress-bar-danger' role='progressbar' style='width:50%'>
										&lt; 50%
									</div>
									<div class='progress-bar progress-bar-warning' role='progressbar' style='width:30%'>
										&ge; 50%
									</div>
									<div class='progress-bar progress-bar-success' role='progressbar' style='width:20%'>
										&ge; 80%
									</div>
								</div>
							</small>
							|"><label for="materialIncompleteness">
								[(#{material.create.incompleteness.label})] <i>C<sup>m</sup></i>
							</label></a>
							<div class="progress">
								<div aria-valuemax="100" aria-valuemin="0"
										aria-valuenow="0"
										class="progress-bar progress-bar-success" id="materialIncompleteness"
										role="progressbar"
										style="min-width: 2em;">
									0%
								</div>
							</div>
						</div>
						<hr>
					</div>
				</div>
			</div>
		</div>

		<div class="step">
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label th:for="|${@E.MATERIAL}.parent|"
								th:text="#{material.create.form.template.label}"></label>
						<select class="form-control selectpicker" data-container="body"
								data-feedback="false" data-live-search="true"
								data-size="auto"
								id="template"
								th:name="|${@E.MATERIAL}.parent|">
							<option th:text="#{material.create.form.template.none}" value="0"></option>
							<!-- TODO extract to locales -->
							<optgroup label="User templates">
								<option th:each="t : ${templates}" th:text="${t.name}"
										th:value="${t.id}">
								</option>
							</optgroup>
							<!-- TODO extract to locales -->
							<optgroup label="Knowledge base templates">
								<option th:each="t : ${references}"
										th:text="${t.getEntry('reference_name').value}"
										th:value="${t.getEntry('reference_signifier').value}">
								</option>
							</optgroup>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label th:for="|${@E.MATERIAL}.name|"
								th:text="#{material.create.form.label.name}">
						</label>
						<input class="form-control" data-feedback="false" id="name"
								required="required"
								th:name="|${@E.MATERIAL}.name|"
								th:placeholder="#{material.create.form.placeholder.name}"
								th:value="${material.name ?: defaultMaterialName}"
								type="text">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label th:for="|${@E.MATERIAL}.comment|"
								th:text="#{material.create.form.label.comment}">
						</label>
						<textarea class="form-control" data-feedback="false"
								rows="5"
								th:name="|${@E.MATERIAL}.comment|"
								th:placeholder="#{material.create.form.placeholder.comment}"
								th:text="${material.comment}"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<a class="popovers" data-container="body" data-placement="top"
								data-toggle="popover" data-trigger="click"
								th:data-content="|<small>#{material.create.form.group.popover}</small>|">
							<label th:for="|${@E.MATERIAL}.material_signifier|"
									th:text="#{material.create.form.label.material_signifier}">
							</label>
						</a>
						<select class="form-control selectpicker" data-container="body"
								data-live-search="true"
								data-size="auto" th:id="|${@E.MATERIAL}.material_signifier|"
								th:name="|${@E.MATERIAL}.material_signifier|">
							<option th:text="#{material.create.form.group.none}" value="default">
							</option>
							<!-- TODO extract to locale -->
							<optgroup label="Groups">
								<option th:each="group : ${@materialGroups}"
										th:selected="${material.signifier == group.materialSignifier}"
										th:text="${group.name}"
										th:value="${group.materialSignifier}"></option>
							</optgroup>
						</select>
					</div>
				</div>
			</div>
		</div>


		<div class="step">
			<div class="row">
				<div class="col-sm-6" th:with="id=${@PA.SHAPE}">
					<th:block th:replace="material/fragments :: selectFragment (${id},
							true, false, false)">
					</th:block>
				</div>
				<div class="col-sm-6" th:with="id=${@PA.DIMENSIONS}">
					<th:block th:replace="material/fragments :: selectFragment (${id},
							true, false, false)">
					</th:block>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6"
						th:with="id=${@PA.MULTIMODALITY}">
					<th:block th:replace="material/fragments :: selectFragment (${id},
							true, false, false)">
					</th:block>
				</div>
				<div class="col-sm-6" th:with="id=${@PA.COMPOSITES}">
					<th:block th:replace="material/fragments :: selectFragment (${id},
							true, true, false)">
					</th:block>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6"
						th:with="id=${@PA.AGGREGATION}">
					<th:block th:replace="material/fragments :: radio (${id},
							${materialCriteria.get(id)})">
					</th:block>
				</div>
				<div class="col-sm-6"
						th:with="id=${@PA.AGGLOMERATION}">
					<th:block th:replace="material/fragments :: radio (${id},
							${materialCriteria.get(id)})">
					</th:block>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6" th:with="id=${@PA.WR_SIZE_RANGE},
						interval=${T(eu.nanodefine.etool.utilities.utils.ConfigurationUtil).toInterval(materialCriteria.get(id))},
						lower=${interval != null ? interval[0] : 50},
						upper=${interval != null ? interval[1]: 2000}">
					<th:block
							th:replace="material/fragments :: slider (${id}, ${lower}, ${upper}, ${interval == null}, 1)">
					</th:block>
				</div>

				<div class="col-sm-6" th:with="id=${@PA.ANALYSIS_TEMPERATURE},
						interval=${T(eu.nanodefine.etool.utilities.utils.ConfigurationUtil).toInterval(materialCriteria.get(id))},
						lower=${interval != null ? interval[0] : 0},
						upper=${interval != null ? interval[1]: 100}">
					<th:block
							th:replace="material/fragments :: slider (${id}, ${lower}, ${upper}, ${interval == null}, -273)">
					</th:block>
				</div>
			</div>
		</div>

		<div class="step">
			<div class="row">
				<div class="col-sm-6" th:with="id=${@PA.TRADE_FORM}">
					<th:block th:replace="material/fragments :: selectFragment (${id},
							true, false, false)">
					</th:block>
				</div>
				<div class="col-sm-6"
						th:with="id=${@PA.DISPERSIBILITY}">
					<th:block th:replace="material/fragments :: selectFragment (${id},
							true, true, true)">
					</th:block>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6"
						th:with="id=${@PA.CHEMICAL_COMPOSITION}">
					<th:block th:replace="material/fragments :: selectFragment (${id},
							true, false, true)">
					</th:block>
				</div>
				<div class="col-sm-6"
						th:with="id=${@PA.POLYDISPERSITY}">
					<th:block th:replace="material/fragments :: selectFragment (${id},
							true, false, false)">
					</th:block>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6" th:with="id=${@PA.OS_VACUUM}">
					<th:block th:replace="material/fragments :: radio (${id},
							${materialCriteria.get(id)})">
					</th:block>
				</div>
				<div class="col-sm-6"
						th:with="id=${@PA.ELECTRON_BEAM}">
					<th:block th:replace="material/fragments :: radio (${id},
							${materialCriteria.get(id)})">
					</th:block>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12" th:with="id=${@PA.PRESENCE}">
					<th:block th:replace="material/fragments :: radio (${id},
							${materialCriteria.get(id)})">
					</th:block>
				</div>
			</div>
		</div>

		<div class="step">
			<div class="row">
				<div class="col-sm-6" th:with="id=${@PA.MAGNETISM}">
					<th:block th:replace="material/fragments :: selectFragment (${id},
							true, true, true)">
					</th:block>
				</div>
				<div class="col-sm-6"
						th:with="id=${@PA.CONDUCTIVITY}">
					<th:block th:replace="material/fragments :: selectFragment (${id},
							true, false, false)">
					</th:block>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6"
						th:with="id=${@PA.LIGHT_ABSORPTION}">
					<th:block th:replace="material/fragments :: radio (${id},
							${materialCriteria.get(id)})">
					</th:block>
				</div>
				<div class="col-sm-6"
						th:with="id=${@PA.FLUORESCENCE}">
					<th:block th:replace="material/fragments :: radio (${id},
							${materialCriteria.get(id)})">
					</th:block>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6"
						th:with="id=${@PA.FUNCTIONALISATION}">
					<th:block th:replace="material/fragments :: radio (${id},
							${materialCriteria.get(id)})">
					</th:block>
				</div>
				<div class="col-sm-6"
						th:with="id=${@PA.RELEASE_IAM}">
					<th:block th:replace="material/fragments :: radio (${id},
							${materialCriteria.get(id)})">
					</th:block>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="btn-toolbar">
				<button class="action submit btn btn-primary pull-right" name="submitForm"
						th:if="${action == 'create'}"
						th:value="${@E.METHOD}"
						type="submit">
					<span th:text="#{|material.${action}.form.submit_${@E.METHOD}|}"></span>
				</button>
				<button class="action submit btn btn-primary pull-right" name="submitForm" type="submit"
						value="true">
					<span th:text="#{|material.${action}.form.submit|}"></span>
				</button>
				<button class="action next btn btn-primary pull-right" th:text="#{global.form.button.next}"
						type="button">
				</button>
				<button class="action back btn btn-primary pull-right" th:text="#{global.form.button.back}"
						type="button">
				</button>
			</div>
		</div>

		<div th:replace="material/fragments :: createFormModal"></div>
	</form>

	<!-- Modals after form to avoid JS problems -->
	<th:block th:each="t : ${techniques}">
		<div th:replace="material/fragments :: techniqueModal(${t}, null, 0)"></div>
	</th:block>

</div> <!-- End: .container -->

<div th:replace="material/fragments :: mcsImages"></div>

<script defer="defer"
		th:src="@{'/libs/jquery-ui-slider-pips-git/dist/jquery-ui-slider-pips.js'}">
</script>
<script defer="defer"
		th:src="@{'/libs/jquery-validation-git/jquery.validate.js'}"></script>
<script defer="defer" th:src="@{'/libs/jquery-deserialize-git/dist/jquery.deserialize.min.js'}">
</script>
<script defer="defer" th:src="@{'/js/incl/multistep.js'}"></script>
<script defer="defer" th:src="@{'/js/incl/form.js'}"></script>
<script defer="defer" th:src="@{'/js/incl/tables.js'}"></script>
<script defer="defer" th:src="@{'/js/material/create.js'}"></script>

<footer th:replace="layout :: footer"></footer>
</body>
</html>
