<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">

<body>
<th:block th:fragment="default (materials, archiveButton)"
		th:with="hideColumns = ${hideColumns ?: @TS.list()},
						showColumns = ${showColumns ?: @TS.list()}">
	<table data-buttons-class="default"
			data-classes="table table-hover"
			data-cookie="true"
			data-cookie-expire="1y"
			data-cookie-id-table="materialTable"
			data-export-data-type="all"
			data-locale="en-US"
			data-minimum-count-columns="0"
			data-page-list="[10, 25, 50, 100, All]"
			data-page-number="1"
			data-page-size="10"
			data-pagination="true"
			data-pagination-v-align="bottom"
			data-search="true"
			data-search-align="right"
			data-show-columns="true"
			data-show-export="true"
			data-show-pagination-switch="true"
			data-sort-name="id"
			data-sort-order="desc"
			data-striped="true"
			data-toggle="table"
			data-toolbar="#toolbar"
			data-toolbar-align="left"
			data-trim-on-search="false"
			id="materialTable"
			th:data-entity="${@E.MATERIAL}"
			th:data-select-item-name="|${@E.MATERIAL}Select|">
		<thead>
		<tr>
			<th data-checkbox="true" data-field="state" th:if="${archiveButton}"></th>
			<th data-field="id" data-sortable="true">#</th>
			<th data-field="name" data-sortable="true" th:text="#{global.table.column.name}"></th>
			<th data-field="signifier" data-sortable="true" data-visible="false"
					th:text="#{material.table.column.signifier}">

			</th>
			<th data-field="comment" data-sortable="true"
					th:data-visible="${hideColumns.contains('comment') ? false : true}"
					th:text="#{global.table.column.comment}">
			</th>
			<th data-field="dossier" data-sortable="true"
					th:data-visible="${showColumns.contains('dossier') ? true : false}"
					th:text="#{dossier}">
			</th>
			<th data-field="creationDate" data-sortable="true" th:text="#{global.table.column.creation_date}"></th>
			<th data-field="changeDate" data-sortable="true" data-visible="false" th:text="#{global.table.column.change_date}"></th>
			<th data-field="actions" data-sortable="false" th:text="#{global.table.column.actions}"></th>
		</tr>
		</thead> <!-- thead -->
		<tbody class="rowlink" data-link="row">
		<tr th:each="m : ${materials}">
			<td th:if="${archiveButton}"></td>
			<td th:text="${m.id}"></td>
			<td>
				<span th:text="${m.name}"></span>
				<a th:href="@{|/${@E.MATERIAL}/${@A.READ}/${@E.MATERIAL}.id=${m.id}|}">
					&nbsp;
				</a>
			</td>
			<td th:text="${@materialConfiguration.getEntry(m.signifier).name}"></td>
			<td th:text="${m.comment}"></td>
			<td class="rowlink-skip">
				<span class="hidden" th:text="${m.dossier.name}"></span><!--/* For sorting */-->
				<a th:href="@{|/${@E.DOSSIER}/${@A.READ}/${@E.DOSSIER}.id=${m.dossier.id}#materials|}"
						th:text="${m.dossier.name}"></a>
			</td>
			<td th:text="${#dates.format(m.creationDate, #messages.msg('global.date_format'))}"></td>
			<td th:text="${#dates.format(m.changeDate, #messages.msg('global.date_format'))}"></td>
			<td class="rowlink-skip">

				<div class="pull-right">

					<th:block th:replace="fragments/actions :: actionRead (${@E.MATERIAL},
								${m}, '')"></th:block>

					<th:block
							th:replace="fragments/actions :: actionTemplate (${@E.MATERIAL},
									${m})"></th:block>

					<th:block th:if="${archiveButton}">
						<th:block
								th:replace="fragments/actions :: actionUpdate (${@E.MATERIAL},
								${m})"></th:block>

						<th:block
								th:replace="fragments/actions :: actionArchive (${@E.MATERIAL},
								${m})"></th:block>
					</th:block>
				</div>

			</td>
		</tr>
		</tbody>
	</table>

	<!-- Archive button -->
	<div th:if="${archiveButton}">
		<button class="btn btn-default pull-left hidden" data-table="#materialTable"
				data-target="#materialArchiveModal" data-toggle="modal"
				id="materialArchiveButton"
				th:text="#{global.table.button.archive}">
		</button>

		<div th:replace="fragments/modals :: disclaimer ('materialArchiveModal', '', 'archive',
			${@U.builder(@E.MATERIAL, @A.ARCHIVE).addRedirectParam(history, 'materials')})">
		</div>
	</div>
</th:block>

<th:block th:fragment="templates (materials, archiveButton)">
	<table data-buttons-class="default"
			data-classes="table table-hover"
			data-cookie="true"
			data-cookie-expire="1y"
			data-cookie-id-table="templateTable"
			data-export-data-type="all"
			data-locale="en-US"
			data-minimum-count-columns="0"
			data-page-list="[10, 25, 50, 100, All]"
			data-page-number="1"
			data-page-size="10"
			data-pagination="true"
			data-pagination-v-align="bottom"
			data-search="true"
			data-search-align="right"
			data-show-columns="true"
			data-show-export="true"
			data-show-pagination-switch="true"
			data-sort-name="id"
			data-sort-order="desc"
			data-striped="true"
			data-toggle="table"
			data-toolbar="#toolbar"
			data-toolbar-align="left"
			data-trim-on-search="false"
			id="templateTable"
			th:data-entity="${@E.MATERIAL}"
			th:data-select-item-name="|${@E.MATERIAL}Select|">
		<thead>
		<tr>
			<th data-checkbox="true" data-field="state" th:if="${archiveButton}"></th>
			<th data-field="id" data-sortable="true">#</th>
			<th data-field="name" data-sortable="true" th:text="#{global.table.column.name}"></th>
			<th data-field="signifier" data-sortable="true" data-visible="false"
					th:text="#{material.table.column.signifier}">
			</th>
			<th data-field="comment" data-sortable="true" th:text="#{global.table.column.comment}"></th>
			<th data-field="creationDate" data-sortable="true" th:text="#{global.table.column.creation_date}"></th>
			<th data-field="changeDate" data-sortable="true" data-visible="false" th:text="#{global.table.column.change_date}"></th>
			</th>
			<th data-field="actions" data-sortable="false" th:text="#{global.table.column.actions}"></th>
		</tr>
		</thead> <!-- thead -->
		<tbody class="rowlink" data-link="row">
		<tr th:each="m : ${materials}">
			<td th:if="${archiveButton}"></td>
			<td th:text="${m.id}"></td>
			<td>
				<span th:text="${m.name}"></span>
				<a th:href="@{|/${@E.MATERIAL}/${@A.READ}/${@E.MATERIAL}.id=${m.id}|}">
					&nbsp;
				</a>
			</td>
			<td th:text="${@materialConfiguration.getEntry(m.signifier).name}"></td>
			<td th:text="${m.comment}"></td>
			<td th:text="${#dates.format(m.creationDate, #messages.msg('global.date_format'))}"></td>
			<td th:text="${#dates.format(m.changeDate, #messages.msg('global.date_format'))}"></td>
			<td class="rowlink-skip">

				<div class="pull-right">

					<th:block th:replace="fragments/actions :: actionRead (${@E.MATERIAL},
								${m}, '')"></th:block>

					<th:block
							th:replace="fragments/actions :: actionTemplate (${@E.MATERIAL},
									${m})"></th:block>

					<th:block
							th:replace="fragments/actions :: actionUpdate (${@E.MATERIAL},
									${m})"></th:block>

					<th:block
							th:replace="fragments/actions :: actionDelete (${@E.MATERIAL},
									${m})"></th:block>
				</div>

			</td>
		</tr>
		</tbody>
	</table>

	<!-- Delete button -->
	<div th:if="${archiveButton}">
		<button class="btn btn-default pull-left hidden" data-table="#templateTable"
				data-target="#materialDeleteModal" data-toggle="modal"
				id="materialDeleteButton"
				th:text="#{global.table.button.delete}">
		</button>

		<div th:replace="fragments/modals :: disclaimer ('materialDeleteModal', '', 'delete',
			@{${@U.builder(@E.MATERIAL, @A.DELETE).addRedirectParam(history, 'templates')}})">
		</div>
	</div>
</th:block>

<th:block th:fragment="techniqueModalTable (technique, materialSignifier, compatibilityTable, incompleteness)"
		th:with="materialSignifier=${materialSignifier != null ? materialSignifier : @performanceDictionary.DEFAULT_MATERIAL_SIGNIFIER},
			idSuffix=${idSuffix}?:'',
			idPrefix=${technique.signifier + materialSignifier + idSuffix}">

	<div class="form-group">
		<a class="popovers" data-container="body" data-placement="bottom"
				data-toggle="popover" data-trigger="click" th:data-content="|
							<small>
								#{material.table.modal.technique.popover.content}
								<hr>
								<i>Ĉ<sup>m</sup></i> &lt; 50% = #{material.table.modal.technique.popover.low}<br />
								<i>Ĉ<sup>m</sup></i> &ge; 50% = #{material.table.modal.technique.popover.moderate}<br />
								<i>Ĉ<sup>m</sup></i> &ge; 80% = #{material.table.modal.technique.popover.high}<br />
								<hr>
								<div class='progress' style='width:100%'>
									<div class='progress-bar progress-bar-danger' role='progressbar' style='width:50%'>
										&lt; 50%
									</div>
									<div class='progress-bar progress-bar-warning' role='progressbar' style='width:30%'>
										&ge; 50%
									</div>
									<div class='progress-bar progress-bar-success' role='progressbar' style='width:20%'>
										&ge; 80%
									</div>
								</div>
							</small>
							|">
			<label th:for="|${idPrefix}Incompleteness|">
				[(#{material.table.modal.technique.incompleteness.label})] <i>Ĉ<sup>m</sup></i>
			</label></a>
		<div class="progress" th:with="incompleteness=${@N.formatPercentage(1 - incompleteness)}">
			<div aria-valuemax="100" aria-valuemin="0"
					class="progress-bar progress-bar-success"
					role="progressbar" th:attr="aria-valuenow=|${incompleteness}|" th:id="|${idPrefix}Incompleteness|"
					th:style="|min-width: 2em; width: ${incompleteness};|"
					th:text="|${incompleteness}|">
			</div>
		</div>
	</div>
	<hr>

	<div class="btn-group" data-classes="search-buttons" th:id="|${idPrefix}Toolbar|">
		<button class="btn btn-xs btn-primary" data-classes="x-all"
				th:text="#{material.table.modal.technique.search.all}"></button>
		<button class="btn btn-xs btn-success" data-classes="x-match"
				th:text="#{material.table.modal.technique.search.matching}"></button>
		<button class="btn btn-xs btn-warning" data-classes="x-incompleteness"
				th:text="#{material.table.modal.technique.search.unknown}"></button>
		<button class="btn btn-xs btn-danger" data-classes="x-mismatch"
				th:text="#{material.table.modal.technique.search.nonmatching}"></button>
	</div>
	<div class="table-responsive">
		<table data-classes="table table-hover technique-modal-table"
				data-detail-view="true"
				data-export-data-type="all"
				data-locale="en-US"
				data-page-list="[5, 10, 25, All]"
				data-page-number="1"
				data-page-size="5"
				data-pagination="true"
				data-pagination-v-align="bottom"
				data-search="true"
				data-search-align="right"
				data-show-columns="true"
				data-show-export="true"
				data-show-pagination-switch="true"
				data-sort-name="attribute"
				data-sort-order="asc"
				data-striped="true"
				data-toggle="table"
				th:data-technique="${technique.signifier}"
				th:data-toolbar="|#${idPrefix}Toolbar|">
			<thead>
			<tr>
				<th data-field="attribute" data-sortable="true" th:text="#{global.table.column.attribute}">
				</th>
				<th data-field="priority" data-visible="false"
						th:text="#{material.table.modal.technique.column.priority}"></th>
				<th data-field="technique" th:text="#{technique}"></th>
				<th data-field="material" th:text="#{material}"></th>
				<th data-field="explanation" data-visible="false"
						th:text="#{material.table.modal.technique.column.explanation}"></th>
			</tr>
			</thead>
			<tbody>
			<th:block th:each="attribute : ${@referenceDictionary.attributes}"
					th:with="t=${@performanceConfiguration.getEntry(technique.signifier, materialSignifier).getEntry(attribute.name)}">
				<tr th:data-attribute="|${attribute.name}|" th:if="${t != null}"
						th:with="mc=${compatibilityTable != null ? compatibilityTable.get(attribute.name, technique.signifier).materialCriterion : null},
						t=${@performanceConfiguration.getEntry(technique.signifier, materialSignifier).getEntry(attribute.name)},
						matchStatus=${compatibilityTable != null ? compatibilityTable.get(attribute.name, technique.signifier).matchReason : 'irrelevance'}">
					<!-- attribute -->
					<td th:class="|bg-${@materialTS.determineAttributeColumnBackground(matchStatus)}|">
						<span th:remove="tag" th:text="${attribute.label}"></span>
						<span class="pull-right glyphicon"
								th:classappend="|glyphicon-${@materialTS.determineGlyphicon(matchStatus)}">
							</span>
					</td>
					<!-- priority -->
					<td th:text="${@priorityConfiguration.getEntry(technique.signifier, materialSignifier)
						.getEntry(attribute.name).value}">
					</td>
					<!-- technique -->
					<td>
						<span th:remove="tag" th:text="${@performanceDictionary.getAttribute(attribute.name).label}"></span>:<br />
						<span th:remove="tag"
								th:utext="${@performanceDictionary.translateValue(t.name, t.value)}">
						</span>
					</td>
					<!-- material -->
					<td>
						<span th:remove="tag" th:text="${attribute.label}"></span>:<br />
						<span data-classes="attribute-value"
								th:utext="${mc != null ? @performanceDictionary.translateValue(mc.name, mc.value) : 'JavaScript error'}"></span>
						<span class="hidden" data-classes="matching">
							<span th:if="${compatibilityTable != null}" th:remove="tag"
									th:text="|x-${compatibilityTable.get(attribute.name, technique.signifier).matchReason}|"></span>
						</span>
					</td>
					<!-- explanation -->
					<td>
						<th:block th:if="${compatibilityTable != null}">
							<span th:utext="${compatibilityTable.get(attribute.name,
									technique.signifier).explanation}"></span>
						</th:block>
					</td>
				</tr>
			</th:block>
			</tbody>
		</table>
	</div>
</th:block>

</body>
</html>
