<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:remove="all">Test</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{mail.global.greeting}"></p>
<p th:text="#{mail.user_password.body.password_requested(${user.username})}">
</p>
<p th:utext="#{mail.user_password.body.create_password(${${U.builderAbsolute(E.USER,'password').addEntityId(user).addPathParam('code', user.activationCode).build()}})}">
</p>

<p>
	[[#{mail.global.salutation}]],<br />
	<em>NanoDefiner</em>
</p>
</body>
</html>
